.todo-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}
.flex {
  display: flex;
}

.bg-blue {
  background-color: blue;
  padding: 10px;
}
